.VirtualizedSelectFocusedOption {
  background-color: green;
  color: white;
}
.VirtualizedSelectOption {
    background-color: black;
    color: white;
}
.Select-control {
    background-color: white;
    box-shadow: white;
    color: white;
    color
}
